name: Metrics
on:
  schedule: [{cron: "0 0 * * *"}] # daily at midnight UTC
  workflow_dispatch:             # allows manual run
  push: {branches: ["master", "main"]} # optional

jobs:
  github-metrics:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: lowlighter/metrics@latest
        with:
          token: ${{ secrets.METRICS_TOKEN }}
