name: Metrics
on:
  schedule:
    - cron: "0 0 * * *"  # Daily at midnight UTC
  workflow_dispatch:
  push:
    branches: ["master", "main"]

jobs:
  github-metrics:
    runs-on: ubuntu-latest
    environment:
      name: production
    permissions:
      contents: write
    steps:
      - uses: lowlighter/metrics@latest
        with:
          token: ${{ secrets.METRICS_TOKEN }}
          
          base: repositories
          
          plugin_isocalendar: yes
          plugin_isocalendar_duration: full-year
          
          plugin_languages: yes
          plugin_languages_ignored: less, dockerfile, makefile, qmake, lex, cmake, shell, gnuplot, shaderLab
          plugin_languages_limit: 8
          plugin_languages_details: lines, bytes-size, percentage
          plugin_languages_aliases: "javascript:JS, typescript:TS, jupyter notebook:Python"
          plugin_languages_colors: rainbow
          plugin_languages_sections: most-used
          plugin_languages_indepth: no
          plugin_languages_categories: markup, programming